<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE project>
<Configuration status="off">
	<Properties>
		<Property name="format1">%d{yyyy/MM/dd HH:mm:ss.SSS} [%t] %-6p %c{10} %m%n</Property>
		<Property name="logfile">/opt/apache-tomcat-9.0.8/logs/eShop.log</Property>
		<Property name="logfile-archive">/opt/apache-tomcat-9.0.8/logs/eShop_%d{yyyy-MM-dd}-%i.log</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>${format1}</pattern>
			</PatternLayout>
		</Console>
		<RollingFile name="logfile001" append="true" fileName="${logfile}" filePattern="${logfile-archive}">
			<PatternLayout>
				<pattern>${format1}</pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="1 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="3"/>
		</RollingFile>
		<Loggers>
			<Root level="trace">
				<AppenderRef ref="Console" />
				<AppenderRef ref="logfile001" />
			</Root>
		</Loggers>
	</Appenders>
</Configuration>
